<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about-content">
        <h2>About Us</h2>
        <p>At the Story Junction, we envision a world where individuals can openly and authentically share their thoughts, emotions, and personal journeys without fear of judgment. We believe in the importance of creating a safe and inclusive environment that encourages self-expression and promotes empathy and understanding among our readers.</p>
        <p>We created this blog with the intention of providing a platform for individuals to connect, heal, and grow through the power of words. We understand that life can be challenging, and everyone faces their own unique struggles. Our goal is to foster a non-judgmental community where you can share your stories, experiences, and thoughts, knowing that you are not alone</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>